$main-font: 'SegoeUIRegular', Helvetica, Arial, sans-serif;
$main-font-color: #2c2c2c;
$link-hover-color: #A5A5A5;
$attention-link-color: #1c91ed;
$line-color: #d3d3d3;
$grid-item-hover-color: #f6f6f6;
$grid-item-border-color: #dcdcdc;
$round-color-unchecked: #979797;
$btn-save-color: #2a2a2a;
$round-color-checked: #58b486;
$fun-meter-header-color: #b9b9b9;
$fun-meter__bar-value-color: #f2a723;
$container-border-color: #d8d8d8;
$body-background-color: #efefef;
$fun-minus-color: #c34c4c;
$fun-plus-color: #58b486;
$second-color: #4e4e4e;
$third-color: #9b9b9b;
$active-color: #f2a723;